// || VARIABLES
// Background images
$slide-bg: "../images/pattern-curve.svg"
$media-bg: "../images/pattern-bg.svg"
$content-bg: "../images/pattern-quotes.svg"
// Assets
$arrow-left: "../images/icon-prev.svg"
$arrow-right: "../images/icon-next.svg"
// Primary Colors
$DarkBlue: hsl(240, 38%, 20%)
$GrayishBlue: hsl(240, 18%, 77%)
//Minimum screen size
$minDesktop: 500px

// || TYPOGRAPHY
body, p
    font-family: 'Inter', sans-serif
    color: $DarkBlue

// || SPACING
*
    margin: 0
    padding: 0
    box-sizing: border-box
body
    width: 100vw
    height: 640px
    @media screen and ( min-width: $minDesktop )
        display: flex
        justify-content: center
        align-items: center
        min-width: 1440px
        width: 100vw
        min-height: 800px
        height: 100vh

// || container
.container
    display: flex
    flex-direction: column
    align-items: center
    position: relative
    width: 100%
    height: 100%
    &--bg
        background-image: url($slide-bg)
        background-repeat: no-repeat
        background-position: left bottom
        background-size: 285px 72px
    @media screen and ( min-width:  $minDesktop)
        width: 1440px
        height: 800px
        &--bg
            background-size: 610px
            
// || media container with profile image
.media
    position: relative
    width: 327px
    height: 308px
    margin-top: 24px
    display: flex
    justify-content: center
    align-items: center
    &--bg
        background-image: url($media-bg)
        background-repeat: no-repeat
        background-size: 100%
    &-img
        position: absolute
        width: 254px
        box-shadow: 0px 30px 30px -30px #333333cc
        border-radius: 10px
    @media screen and ( min-width:  $minDesktop)
        position: absolute
        top: 50px
        right: 73px
        width: 697px
        height: 657px
        &-img
            width: 540px
            // height: 540px
            // left: 65px
            // bottom: 54px

// || Media Navigation Buttons
.media-nav
    display: grid
    grid-template-columns: 1fr 1fr
    //come back to this
    position: absolute 
    width: 80px
    height: 40px
    border-radius: 28px
    box-shadow: 0px 15px 20px -10px rgba(36, 36, 113, 0.0991313)
    background: #fff
    bottom: 4.5px
    left: 124px
    overflow: hidden
    &__btn
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-content: center
        background-repeat: no-repeat
        background-size: 28% 45%
        background-position: bottom 50% center
        height: 100%
        width: 100%
        &--left
            background-image: url($arrow-left)
        &--right
            background-image: url($arrow-right)
        &:active
            background-color: rgba(16, 115, 230, 0.3)
        &:hover
            background-size: 35% 55%
    @media screen and ( min-width: $minDesktop )
        width: 112px
        height: 56px
        bottom: 26px
        left: 127px
// || CONTENT, QUOTE, CONTACT
.slides--content
    position: absolute
    width: 311px
    // margin: 0 32px 0 32px
    border: 1px solid pink
    @media screen and ( min-width: $minDesktop )
        width: auto
.content
    // width: 311px
    // margin: 32px
    text-align: center
    display: flex
    justify-content: center
    &--bg
        background-image: url($content-bg)
        background-repeat: no-repeat
        background-position: top center
        background-size: 60px auto
        background: #333333aa //DELETE
    &__quote
        margin-bottom: 19px
        font-size: 18px
        line-height: 24px
        font-weight: 300
    @media screen and ( min-width: $minDesktop )
        position: absolute
        top: 214px
        left: 165px
        width: 635px
        height: 354px
        text-align: left
        &--bg
            background-position: top left 95px
            background-size: 120px auto
        &__quote
            margin-top: 66px
            margin-bottom: 32px
            font-size: 32px
            line-height: 44px
// || contact info within content box
.contact 
    display: flex
    flex-direction: column
    font-size: 15px
    line-height: 20px
    &__name
        font-weight: 700
    &__title
        font-weight: 500
        color: $GrayishBlue
    @media screen and ( min-width: $minDesktop )
        flex-direction: row
        font-size: 20px
        line-height: 38px
        &__name
            margin-right: 10px
.attribution
    display: none
    font-size: 11px
    text-align: center
    a
        color: hsl(228, 45%, 44%)
    @media screen and ( min-width: $minDesktop  )
        position: fixed
        display: block
        bottom: 0
        text-align: center
        width: 100vw
        height: 20px
        background: $GrayishBlue
        font-size: 1.0em


// || THEME STYLING EFFECTS
.slides //start all slides hidden
    opacity: 0
.ease-out
    opacity: 0
    transition: opacity 2s 
.ease-in
    opacity: 1
    transition: opacity 2s

